GROQ_API_KEY=your_groq_api_key_here
TAVILY_API_KEY=your_tavily_api_key_here
DATABASE_URL=postgresql://postgres.hjpgyfowhrbciemdzqgn:kunalpro379@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres
PINECONE_API_KEY=pcsk_TLw4U_JBCaeSLz9Ti9igwWTrzGK3pXPrRjKgump8iSNJVE5JGuo5tZvZL1HpLriVRbtjyigrs1
PINECONE_INDEX_NAME=igrs1

# Configuration
MAX_LOOPS=30
MAX_URLS_PER_SEARCH=5
MAX_TOTAL_DOCUMENTS=500
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
WORKER_INTERVAL_MINUTES=30
MAX_TOKENS_PER_DOC=8000
